<div class="header">
  Yellow-Bellied Sapsucker Abundance in Michigan
</div>

<div class="legend"></div>
<div class="legend-details" style="display: flex; margin: 0 0.5rem; font-size: 0.6rem; line-height: 0.6rem;">
  LESS
  <div class="right" style="margin-left: auto">MORE</div>
</div>

<!--<ngx-charts-line-chart-->
<!--  [view]="view"-->
<!--  [scheme]="colorScheme"-->
<!--  [legend]="legend"-->
<!--  [showXAxisLabel]="showXAxisLabel"-->
<!--  [showYAxisLabel]="showYAxisLabel"-->
<!--  [xAxis]="xAxis"-->
<!--  [yAxis]="yAxis"-->
<!--  [xAxisLabel]="xAxisLabel"-->
<!--  [yAxisLabel]="yAxisLabel"-->
<!--  [timeline]="timeline"-->
<!--  [results]="data">-->
<!--</ngx-charts-line-chart>-->
