.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  .chart {
    margin-bottom: -4rem;
  }

  ::ng-deep .mat-chip-list-wrapper {
    justify-content: center;
  }

  .mat-chip.mat-standard-chip {
    font-size: 0.6rem;

    &.mat-accent {
      width: 6.5rem;
      justify-content: center;
    }
  }
}

@media (min-width: 500px) {
  .footer {
    .mat-chip.mat-standard-chip {
      font-size: 0.8rem;

      &.mat-accent {
        width: 8rem;
      }
    }
  }
}

@media (min-width: 950px) {
  .footer {
    bottom: auto;
    top: calc(10% + 422px + 2rem);
    left: 1.5rem;
    background: #1A1A1B;
    border: 1px solid #343333;
    border-radius: 10px;
    width: 31rem;

    .mat-chip.mat-standard-chip {
      &.mat-accent {
        width: 9rem;
      }
    }
  }
}
