<div class="footer">
  <div class="tmp" style="margin-bottom: -4rem;">
  <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="dataSeries">
  </ngx-charts-line-chart>
  </div>
<br>
  <mat-chip-list *ngIf="highlights">
    <mat-chip color="accent" selected>WEEK {{highlights.count}}</mat-chip> <!-- visible x weeks when selected -->
    <mat-chip>MIN  {{highlights.min}}</mat-chip>
    <mat-chip>MAX {{highlights.max}}</mat-chip>
    <mat-chip color="primary" selected>MEAN {{highlights.mean}}</mat-chip>
  </mat-chip-list>
  <app-slider></app-slider>
</div>
