.footer-row {
  display: flex;

  .slider {
    ::ng-deep .mat-slider-horizontal .mat-slider-wrapper {
      background: #666;
    }
    ::ng-deep .mat-slider-min-value .mat-slider-focus-ring {
      background-color: rgba(102, 102, 102, 0.3);
    }

    ::ng-deep .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
      border-color: rgba(102, 102, 102, 0.3);
      background-color: #ffd740;
    }
  }
}

.months {
  display: flex;
  padding: 0 1rem 0.5rem 0.5rem;
  justify-content: space-between;
  font-size: 0.65rem;
}

.play-btn {
  line-height: 48px;
  margin-right: 0.5rem;
  cursor: pointer;
}

.slider {
  width: 100%;
}

@media (min-width: 500px) {
  .footer-row {
    margin: 0 1.5rem 1.5rem 1.5rem;
  }

  .months {
    font-size: 1rem;
  }
}
