.footer-row {
  display: flex;
}

.months {
  display: flex;
  padding: 0 1rem 0.5rem 0.5rem;
  justify-content: space-between;
  font-size: 0.65rem;
}

.play-btn {
  line-height: 48px;
  margin-right: 0.5rem;
}

.slider {
  width: 100%;
}
