#map {
  position: absolute;
  //top: 15rem;
  top: 6rem;
  //bottom: 5rem; /* Be sure to add mapbox styles to index.html or angular.json so plaintext copyright doesn't display below map! */
  bottom: 7rem; /* Be sure to add mapbox styles to index.html or angular.json so plaintext copyright doesn't display below map! */
  width: 100%;

}

@media (min-width: 500px) {
  #map {
    top: 7rem;
    bottom: 10rem;
  }
}

@media (min-width: 800px) {
  #map {
    top: 16rem;
    bottom: 10rem;
  }
}
