#map {
  position: absolute;
  top: 5.5rem;
  bottom: 7rem; /* Be sure to add mapbox styles to index.html or angular.json so plaintext copyright doesn't display below map! */
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}

@media (min-width: 500px) {
  #map {
    top: 7rem;
    bottom: 10rem;
  }
}

@media (min-width: 800px) {
  #map {
    top: 6rem;
    bottom: 23rem;
    // TODO fix for midsize screens
    right: 10rem;
    left: 10rem;
    width: auto;
    border: 1px solid rgba(255,255,255,0.5);
  }
}
