@media (min-width: 800px) {
  .app-header {
    position: absolute;
    top: 10%;
    left: 1.5rem;
    background: #343333;
    padding: 1rem;
    width: 31rem;
    border: 1px solid #1A1A1B;
    border-radius: 10px;
  }
}
